<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fangbin.springboot.shirodemo.dao.UserDao">
    <sql id="base_column">id, account, name, password, email</sql>

    <select id="getByAccount" resultType="me.fangbin.springboot.shirodemo.entity.UserEntity" parameterType="string">
        select <include refid="base_column" /> from t_user
        <where>
            lower(account) = lower(#{account, jdbcType=VARCHAR})
        </where>
    </select>
</mapper>